# Ownership-Networks

## Data Import

In [1]:
import pandas as pd
import numpy as np

In [2]:
codebook = 'new'

In [3]:
file_name = '3030-own'
df = pd.read_csv(f'Data/{file_name}.csv',
                     encoding='unicode_escape')

df.rename(columns={'Company name Latin alphabet': 'Comp_Name',
                   'Country ISO code': 'Country',
                   'NACE Rev. 2, core code (4 digits)': 'NACE',
                   'BvD ID number': 'BvD',
                   'Operating revenue (Turnover)\r\nth USD Last avail. yr': 'TURN',
                   'Cash flow\r\nth USD Last avail. yr': 'CF',
                   'Total assets\r\nth USD Last avail. yr': 'TASS',
                   'Shareholders funds\r\nth USD Last avail. yr': 'EC',
                   'Number of employees\r\nLast avail. yr': 'EM',
                   'Shareholder - BvD ID number': 'Sha_BvD',
                   'Shareholder - Direct %': 'Sha_%',
                   'Subsidiary - BvD ID number': 'Sub_BvD',
                   'Subsidiary - Direct %': 'Sub_%'
                  },
            inplace=True)

In [4]:
df.head()

,Unnamed: 0,Comp_Name,Country,NACE,BvD,TURN,CF,TASS,EC,EM,Sha_BvD,Sha_%,Sub_BvD,Sub_%
0,1.0,AIRBUS SE,NL,3030.0,NL24288945,59 736 738,7 471 764,121 241 465,10 743 847,126 495,DE6070642164,10.9,LULB51757,100
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FR318186756,10.9,DEFEB14827,100
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US149114345L,9.63,GB02449259,100
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ESQ2820015B,4.12,NL28086907,100
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,YY*4000000169624,3.02,NL63545128,100

In [32]:
# Codebook
# If it has already been generated
if codebook == 'old':   
    cdbk = pd.read_csv(f'Data\\Codebook.csv',index_col=0)
    # Creating dictionary so that it can be used for index in the main dataframe
    di_cdbk = dict([(bvd, index) for index, bvd in zip(cdbk.index, cdbk.BvD)])
elif codebook == 'new':
    # Add Targi companies
    count = 1
    di_cdbk = {}
    df_temp = df[['Comp_Name', 'BvD']].dropna().drop_duplicates(subset=['Comp_Name', 'BvD']).sort_values(by='Comp_Name')
    for company, bvd_code in zip(df_temp['Comp_Name'], df_temp['BvD']):
        index = f'Targi_{count}'
        di_cdbk[index] = [company, bvd_code]
        count += 1
        
    # Add Neigh companies
    count = 1
    df_temp = set(list(df['Sha_BvD'].unique()) + list(df['Sub_BvD'].unique()))
    df_temp2 = [value[1] for value in di_cdbk.values()]
    df_temp = [neigh for neigh in df_temp if neigh not in df_temp2]

In [34]:
df_temp

[nan,
 'HK0000226591',
 'PL006746410',
 'FR*110330653865',
 'ZZ*J00M*131154',
 'US327897497L',
 'US350015603L',
 'LT*690110907',
 'US169344864L',
 'US336496328L',
 'US143712402L',
 'FR913616413',
 'WW*210312561',
 'ZZ*110292372202',
 'IE523577',
 'IE489499',
 'MA*110337119264',
 'PL250978025',
 'US247300307L',
 'ES2-207054',
 'BG179663043',
 'GB00926916',
 'GB00034871',
 'ESB91864116',
 'GB03135337',
 'FR*81565651',
 'DE2011241833',
 'WW*211354735',
 'US2-131599',
 'IE455484',
 'KY2-88294',
 'SA2-88493',
 'MXIME650311C66',
 'YY*110320526848',
 'CN*110140437947',
 'CHCHE105927761',
 'WW*338732248',
 'PLPP70072112079SPL',
 'IE605126',
 'FR514459676',
 'ITPPGMBMRZ60E31A479G',
 'IT06958541218',
 'FR311079701',
 'IN0007180674',
 'IE621431',
 'UY*110337112528',
 'SG198901923R',
 'US*110187921615',
 'US130921671L',
 'FR2-88331',
 'IN0001487721',
 'US149173823L',
 'IE*110344871599',
 'CA256431908L',
 'US276544025L',
 'HK0000044163',
 'WW*923024267',
 'US247029848L',
 'US132999902L',
 'IE144820',
 'FR*Z00209612',
 'GB09242421',
 'EE12221479',
 'US2-131646',
 'US126611719L',
 'IN0005480501',
 'US131762930L',
 'ZA*110166457345',
 'JP*110337118132',
 'IE568670',
 'WW*553275566',
 'USLEI399718',
 'US329351741L',
 'IE641595',
 'ITPPDNNCST94E53D862W',
 'US160959303',
 'FR775694995',
 'US239353016L',
 'JPLEI2032385',
 'WW*110140151567',
 'ITPPTTRLPA85S26F205B',
 'DE2151462980',
 'IE483269',
 'IE581872',
 'ITPPRMTFNC45B01L219J',
 'AU051899864',
 'FR642035018',
 'NL32014347',
 'WW*Z00492689',
 'NL*927355695',
 'US431309065',
 'DE8250002025',
 'US131557571L',
 'IE687081',
 'GB*Z00308566',
 'DE*110018518886',
 'WW*211354719',
 'US298287725L',
 'NZ9429030774384',
 'BM36007R',
 'FR*110325683488',
 'ESB83807586',
 'US310246736L',
 'US257548460L',
 'ES*343857083',
 'FR*110325896839',
 'IT10082191007',
 'IT01666410095',
 'ITPPNSTBTL54R17B076P',
 'KY2-88292',
 'ITPPBLLSLV67D64I024S',
 'ITPPCCNLRS61D03G284S',
 'ES*330096420',
 'FR479966178',
 'CZCPP00000206621339',
 'DE8171127533',
 'US*110329027733',
 'US132882882L',
 'US355294961L',
 'ITPPSRRLRI75C71I625G',
 'YY*110342155504',
 'BR*110185581270',
 'US312410654L',
 'FR314222902',
 'US280711385L',
 'US209603988L',
 'US249554267L',
 'ITPPBGNMRP63T64G393H',
 'US149198869L',
 'ESB45368180',
 'WW*110310147475',
 'US126790183L',
 'IE583007',
 'ITPPFRBNRC50C11A470L',
 'IT80415740580',
 'US2-267194',
 'WWP003328541',
 'TH*110344871597',
 'FR491117578',
 'WW*110316159385',
 'IE672516',
 'IT*110345206002',
 'WW*110018633581',
 'IN*110311939548',
 'FR493665871',
 'CA177107676L',
 'GB00014259',
 'IT02101850069',
 'US252107873L',
 'GB*110338515140',
 'FR*110299346423',
 'FR*110187906820',
 'BG206704515',
 'DE*110241760018',
 'US131704424L',
 'IT02252090747',
 'KY*952173795',
 'WW*110006271016',
 'FR*110325724977',
 'CA149150236L',
 'CHCHE112160970',
 'US123635618L',
 'TH0145554001539',
 'US264243431L',
 'ESB86248788',
 'IT03064480100',
 'US207391455L',
 'ES*330691220',
 'US278482319L',
 'MY1153331-T',
 'BR*110344720705',
 'IT12039730010',
 'US209516964L',
 'ESB67745414',
 'CA*110013354569',
 'MX*A0035929274',
 'IE472762',
 'CZ27724182',
 'GB*110016845406',
 'DE6070310749',
 'FR444414429',
 'GB04280530',
 'MA142207-81',
 'US201092943L',
 'US134423027L',
 'US*4000000168569',
 'US241713005L',
 'IE600610',
 'DEFEB13116',
 'CHCHE108540364',
 'US321875543L',
 'FR483345690',
 'CA132631239L',
 'YY*110010086921',
 'RO*110008984797',
 'IN0003942149',
 'SA2-131260',
 'ITPPGRZPLA64P03G902F',
 'WW*110337645209',
 'IE502927',
 'LULB95820',
 'MY1199615-X',
 'CH*Q0005776148',
 'US342999866L',
 'US*110347235659',
 'GB04261359',
 'US132887789L',
 'US273222239L',
 'ITPPBLZRFL77C07F839N',
 'IE562108',
 'ESA28107811',
 'AE*110329624658',
 'US0C0000BLRN',
 'US231742679L',
 'NO943771030',
 'DK28900554',
 'FR341219715',
 'US149201752L',
 'US2-131651',
 'MY*110338515024',
 'SK*492115655',
 'US289235843L',
 'CN*110020071914',
 'CN9360983415',
 'IE605536',
 'GB06160534',
 'FR317540581',
 'ESB27844141',
 'US304181474L',
 'DE2010394744',
 'GB02319285',
 'DEFEB47734',
 'IE449927',
 'FR*1151655152',
 'US124240030L',
 'US132632319',
 'CN9382366907',
 'DE8170233128',
 'IN0002989411',
 'GB03942880',
 'IE458897',
 'US149141690L',
 'QA*4000000170887',
 'US305649065L',
 'GB06353995',
 'GB10586808',
 'FR439990748',
 'YY*110313174857',
 'GB02004538',
 'SE5565773826',
 'GB*196520629',
 'ITPPDRSPPL72L24F839R',
 'IE531317',
 'HU*592583910',
 'US205441563',
 'ITPPCLLPLA70H57F205O',
 'CA299361332L',
 'US*110347238910',
 'GB02657253',
 'FR802986380',
 'SE5561973719',
 'US350013425L',
 'US*110338564496',
 'SE5560163247',
 'PL180062731',
 'AE0072207347',
 'US131564026L',
 'IT12307051008',
 'CN9360645984',
 'WW*110010086925',
 'IT00868450156',
 'US249553175L',
 'DE2151008236',
 'US*110185389293',
 'YY*110339558154',
 'CO170024579930',
 'GB07448916',
 'DE2290156151',
 'US314154224L',
 'ITPPCMPSVN44B14M165L',
 'DE8290213634',
 'FR350490678',
 'DE2050684902',
 'WW*211354725',
 'PL*110337113067',
 'US124297996L',
 'FR408772234',
 'ZZ*110344941578',
 'US741051605',
 'CZ*110020115632',
 'MA32279-61',
 'AU003890515',
 'DE8130094569',
 'FR*110294381758',
 'US291078626L',
 'US*110192071947',
 'US203502747L',
 'FR449934603',
 'ESA83276196',
 'US2-98348',
 'IT11485671009',
 'GB*110141549876',
 'US337944746L',
 'SA*110308462647',
 'HK0024739471',
 'DE7110364298',
 'GB02762965',
 'CN*110337112517',
 'AE*110338515026',
 'GBOC355490',
 'BR02214014000133',
 'FR571850528',
 'US954684522',
 'MY1045689-M',
 'CA*110337118910',
 'FR383838372',
 'ESB11790854',
 'AU*D00343877',
 'US149789391L',
 'WW*110306948565',
 'AU077596242',
 'ITPPMNTSTR67M63F205O',
 'ITPPSCCMGN44E47I968A',
 'US355292786L',
 'BR65047250000122',
 'IE472472',
 'US*110337117985',
 'AU147602686',
 'AU063102198',
 'US310531838L',
 'RO*559652370',
 'IE543526',
 'US257645327L',
 'US132536761L',
 'GB04373908',
 'US*190521508662',
 'MXSME161020NL1',
 'CA5-49956370I',
 'WW*953026921',
 'US249561359L',
 'AT*110317888347',
 'FI29264894',
 'TN0614941B',
 'GRCP020148913',
 'WW*211354741',
 'GB02779558',
 'FR*20914289',
 'YY*110316159399',
 'PLPP65033012479SPL',
 'PL*110002703194',
 'IE597841',
 'BE0452378702',
 'FR342360005',
 'IT07634270636',
 'US326928614L',
 'NL34342228',
 'IN*110337113066',
 'US134941247',
 'US231120455L',
 'LV010362534',
 'US2-131608',
 'DE2370283426',
 'KR*110344871773',
 'MA144797-81',
 'US249554384L',
 'FR514243815',
 'PLPP58102702461SPL',
 'GB01420876',
 'TR274547F',
 'AU128734743',
 'FI*110137963535',
 'GB*110338515158',
 'IT00805600152',
 'IE564446',
 'WW*110180477139',
 'NL34287710',
 'ESB87778312',
 'HU*110345381704',
 'US169486677L',
 'US*966006976',
 'GB12361304',
 'IE553581',
 'IE605752',
 'US278472026L',
 'US149206277L',
 'MYPP840331145397PMY',
 'DE5170132705',
 'IT09105940960',
 'NO*969002597',
 'DE6190151752',
 'DE2090311788',
 'FR352876197',
 'IE672086',
 'DE*110307306165',
 'CZ*110013194023',
 'DE5030003324',
 'US*110229997564',
 'ITPPBNCBRN32R46D208Z',
 'MY2-131228',
 'WW*211354724',
 'US277527089L',
 'IT03386100121',
 'DE*110022577175',
 'AE0000586483',
 'DE2190001578',
 'DE7070107482',
 'IE509989',
 'FR799295951',
 'US299380406L',
 'IE486993',
 'US124345207L',
 'US228172553L',
 'IE565805',
 'US131106525L',
 'ESB95854154',
 'DE2150605234',
 'FR433900685',
 'US130693373L',
 'FR*110002007081',
 'RO*110323314765',
 'FR302527700',
 'IE209316',
 'HR16322816866',
 'IT05910110963',
 'ITPPBRCLSN75A16L719R',
 'US*110297194148',
 'FRP003856305',
 'AE*110297637280',
 'US126629765L',
 'CZ26150271',
 'US242881145L',
 'WW*927249543',
 'SK31342141',
 'WW*343785256',
 'DE*110191340729',
 'MXZAE150306NZ2',
 'US166177980L',
 'US*110344594449',
 'DE7110223151',
 'DE8170950832',
 'TH0105534008848',
 'GB08558302',
 'WW*550719181',
 'US147935816L',
 'US149144725L',
 'IT13098511002',
 'PL*110150627798',
 'NL51940809',
 'WW*110006000687',
 'US*110345251866',
 'US*110338515052',
 'WW*209256250',
 'CZ08105111',
 'IE491039',
 'DE*110340275473',
 'BR16750609000118',
 'US*110176310715',
 'US129919998L',
 'IE616754',
 'WW*Z00492666',
 'WW*907413956',
 'US127340672L',
 'IT01256760669',
 'US*110297892655',
 'US150305127L',
 'DE8171193973',
 'US207785079L',
 'PLPP76070911559SPL',
 'MR*E001263747',
 'US131310147L',
 'IE514012',
 'ROPPNSTFRN77P16Z129N',
 'US228228866L',
 'WW*209256266',
 'WW*110010086919',
 'IE609385',
 'ITPPFLEGTN42T19B963S',
 'IE571760',
 'NL34239107',
 'US*110149626652',
 'US301642997L',
 'YY*110329442291',
 'ESA01385111',
 'US*110185389268',
 'IT09193631216',
 'DE8270297932',
 'IN0007348762',
 'US312377996L',
 'US278454656L',
 'FR320921828',
 'WW*211354740',
 'US255386939L',
 'SK*492203659',
 'IE448646',
 'PL*110326106546',
 'GB06401337',
 'US345311660L',
 'FR809200835',
 'IE514007',
 'US205429575L',
 'US277277270L',
 'IE402666',
 'FR*D00316930',
 'AT9150141838',
 'US*110301182064',
 'FR817469497',
 'FI*110137963536',
 'GB03852745',
 'IE543347',
 'TR*970041417',
 'US149104860L',
 'ITPPBRNLCU80M15L840D',
 'US*110149626642',
 'GB01669889',
 'US266582969L',
 'US351343712L',
 'ITPPMDNCRI66E16G902H',
 'US289700591L',
 'IE468382',
 'UY212729060019',
 'WW*337067254',
 'US123095990L',
 'DE*110005376055',
 'ITPPCLBMSM78H18L219W',
 'RO9081840',
 'DE2151151771',
 'US149417625L',
 'GB04439737',
 'ITPPBCCLRC48L03C413X',
 'AW*110329027684',
 'SE*492335938',
 'ITPPGNNFNC68R51E506N',
 'US128509982L',
 'DE7270340860',
 'AT9150496814',
 'US206085183L',
 'WW*349699029',
 'RU*110148012257',
 'PH*110008284759',
 'GB02125837',
 'ZZ*110344941576',
 'IT03901310924',
 'FR349357343',
 'BR26696312000175',
 'US132448690L',
 'GB*110229472872',
 'WW*110181573480',
 'WW*906128989',
 'FR*110293410805',
 'IE455482',
 'MXEME930203ET3',
 'YY*110229223219',
 'CO*110337113064',
 'IE638736',
 'IT09948550968',
 'CHCHE143782707',
 'DE2151919772',
 'GB10516535',
 'US5-16193993I',
 'MY723096-V',
 'DE*110191769117',
 'FR*110293410804',
 'FR343371902',
 'ITPPMNTFLV66C28F205P',
 'BM42963R',
 'US149116901L',
 'CZ27486311',
 'CA132691087L',
 'GB00863383',
 'IT11189680967',
 'US279597701L',
 'KZ100440019075',
 'DE2011467230',
 'GB12130038',
 'WW*110006271018',
 'IN0001488063',
 'US344707121L',
 'IT03901990659',
 'SG201127780C',
 'CA132644838L',
 'FR523940971',
 'IE481377',
 'AE0000349787',
 'IE591752',
 'SE5561342204',
 'WW*110306948568',
 'AU*110344871601',
 'DE2370349441',
 'ESB72163264',
 'RO16656401',
 'US334244561L',
 'US258827300L',
 'US306782084L',
 'GB06135651',
 'IE589890',
 'GBSC677431',
 'IE605120',
 'IE471959',
 'SK*492005378',
 'DE8230734237',
 'US304030592L',
 'FRPP82082021498SPL',
 'US306275222L',
 'BE0738651931',
 'IE426930',
 'YY*110325393463',
 'IE392814',
 'FR417810538',
 'CHCHE101455094',
 'US305345036L',
 'AT*772118162',
 'US132973580L',
 'WW*110305161181',
 'ESA78066735',
 'GB00053688',
 'US*110181608403',
 'ITPPBNLFNC69A28F205J',
 'GB02638853',
 'IE563582',
 'GB02430846',
 'US322801544L',
 'ZZ*110299628867',
 'US356800109L',
 'US*230217817',
 'PL012261725',
 'GB*110311878084',
 'US319962095L',
 'GB00573562',
 'ITPPCRCVCN55C11G812R',
 'US954684502',
 'RO43562908',
 'YY*110343729906',
 'IE593732',
 'JP7011101034623',
 'DE8190009649',
 'OM*110157062136',
 'GB02449259',
 'FR433174349',
 'IE412803',
 'IE699434',
 'KY*4000000089170',
 'AU104576794',
 'WW*110306948560',
 'US301481747L',
 'GBP004957046',
 'IE*110343276308',
 'DE2151977438',
 'WW*110165685878',
 'ITPPCPTLRA78D52F912X',
 'IE418503',
 'US2-131662',
 'US160255662L',
 'ITPPBTALNE69S67F839G',
 'US256594709L',
 'WW*110140151565',
 'BG201160102',
 'FR*82431138',
 'ZA200000197407',
 'ZZ*110331556546',
 'US142845072L',
 'IE449926',
 'WW*340807365',
 'ITPPMRNSVT83H28L219S',
 'FR442844791',
 'US257961659L',
 'FR*110338515139',
 'US188432421L',
 'GB*110169245038',
 'GB06929455',
 'FR343652483',
 'BM25879R',
 'YY*110329442290',
 'GB02606542',
 'US*Z00492613',
 'RO3168735',
 'CN2-66524',
 'NL27188499',
 'IE492913',
 'NL81122373',
 'GB13645213',
 'GB01310658',
 'GBP003868550',
 'US247281467L',
 'US288047960L',
 'SE5591920581',
 'FR*110325683489',
 'US310188650L',
 'US169344861L',
 'DE*110318919406',
 'CHCHE108047419',
 'WW*552592114',
 'PT508178142',
 'US323018960L',
 'IN0003703216',
 'SE5564148194',
 'PL*110338578265',
 'CZ26131820',
 'GB00212802',
 'SE5562055623',
 'CHCHE113783062',
 'PL072823286',
 'HK0002559025',
 'DE*110235299729',
 'DE2151976579',
 'ITPPGRZRRT59M23F205P',
 'AU077560108',
 'AE0000400613',
 'IT01914390438',
 'FR732032271',
 'CN*110148013014',
 'US172236018L',
 'IN0015908716',
 'ITPPLRSNLR43M19A669F',
 'ESB83185140',
 'GB*192768428',
 'GB*110167194673',
 'FR803857259',
 'KYLEI369248',
 'GBP003342311',
 'US132089353L',
 'GB05332361',
 'JP6010401055438',
 'ESA48010615',
 'WW*110305230237',
 'SE5566753496',
 'IT*110140851360',
 'GB04027720',
 'ESV83822098',
 'RO18253260',
 'US250922018L',
 'US*B000128551',
 'FR*1144327171',
 'GB*110001833445',
 'GB04020487',
 'WW*209256249',
 'SG199200403C',
 'SE9696798231',
 'US134695684L',
 'GB03671053',
 'MA139249-81',
 'CHCHE113266140',
 'IN*110338515035',
 'US148277540L',
 'US262926473L',
 'US131333103L',
 'GB10715185',
 'WW*350155061',
 'US304459184L',
 'CN*110337112485',
 'GB01916260',
 'FR321337065',
 'MX149118317L',
 'SA*B000117910',
 'CD*E001138977',
 'BE0631792672',
 'US120301354L',
 'IE627290',
 'FR*110338461907',
 'US160300155L',
 'US313422443L',
 'HK0003995639',
 'IT03923850758',
 'US*110338515023',
 'CL766071708',
 'PL*471906237',
 'GB04313894',
 'US2-131637',
 'IE507458',
 'GB06283196',
 'ESA44217800',
 'CZ*491170096',
 'MU*110311694339',
 'US173954976L',
 'GB*110338515110',
 'US223692587L',
 'CN2-88309',
 'ITPPMNTTZN77D42F205H',
 'IE497473',
 'RU17843079N',
 'SG200914638G',
 'GB*110342138287',
 'TR*110009911549',
 'DK41881828',
 'GBGG59675',
 'IT05402391212',
 'IT*B000116568',
 'ITPPFRSDNC53B14G125K',
 'WW*908454177',
 'BM43513R',
 'AT9111086643',
 'DE7110364440',
 'IE540929',
 'US149095037L',
 'US257823497L',
 'US126770512L',
 'DE7270029834',
 'ESB34173211',
 'ITPPVLIGPP65A27H501U',
 'BR*110341078589',
 'IE516075',
 'DE2011205812',
 'NG*110337237357',
 'MA17739-81',
 'US222073952L',
 'ITPPGTTFRC71T13G393C',
 'AU008643212',
 'IE402501',
 'US129823378L',
 'WWP005962036',
 'IE580037',
 'DECP3297541',
 'BM22639R',
 'IE559739',
 'IE559178',
 'RO*110180615062',
 'PL690302040',
 'GB03764142',
 'GB00444860',
 'FR542028154',
 'US337801622L',
 'BR06201952000150',
 'ES*4000000170892',
 'US132200657L',
 'PL*470582443',
 'IT01865850356',
 'IT07001080725',
 'FR440513059',
 'ITPPBRZMRC58D26G478S',
 'CN9466830947',
 'US127979449L',
 'US141952824L',
 'IE513320',
 'US192750330L',
 'IT01865930356',
 'US*110338515098',
 'US299991014L',
 'MA*110170377441',
 'SI*630213888',
 'ESB95854162',
 'FR552059024',
 'KY*110185389309',
 'GBOC340922',
 'IE485882',
 'DE*110013943710',
 'CA330664571L',
 'FR433910569',
 'CA132664281L',
 'SG200915265K',
 'IE495889',
 'CHPPSTTWNR52C04Z133M',
 'US*110337117986',
 'US253841837L',
 'GB02883591',
 'DE*110009237480',
 'AU*110165660871',
 'IE514008',
 'US132334066L',
 'IE715648',
 'US127357641L',
 'FR399307560',
 'WW*110306948572',
 'US321514502L',
 'US148810212L',
 'US237158888L',
 'IE475100',
 'BM47487R',
 'US296668610L',
 'US245423108L',
 'SA2-131259',
 'RS21497495',
 'KYLEI528660',
 'IE598087',
 'GB00617987',
 'IE507282',
 'US149210245L',
 'PLPP72041108814SPL',
 'FR801267469',
 'IN2-66571',
 'DE*110338515078',
 'US149112523L',
 'US327380966L',
 'WW*337094271',
 'GBOC392918',
 'GB*110343911839',
 'US134656439L',
 'US350013371L',
 'IT01336430622',
 'MXPSI9808124F0',
 'PL*110313172547',
 'GB02648152',
 'ITPPFRSMHL82L21D643I',
 'US205493184L',
 'US125523961L',
 'CA281715251L',
 'US208789212L',
 'FR824451827',
 'GB00107603',
 'US220161128L',
 'MA286423-81',
 'IN0000258426',
 'US2-66635',
 'ITPPGNNNTN70M22E506G',
 'IE429164',
 'ESA87498291',
 'US325872524L',
 'RO*110158533906',
 'GB03473663',
 'EE10049835',
 'IE130807',
 'YY*4000000049008',
 'IN0013835323',
 'CN*110313172401',
 'US145822714L',
 'GB02132891',
 'GB00735076',
 'FR*J00S1080',
 'GB*110337117993',
 'BE0450118404',
 'FR*110344554387',
 'CN*110295065243',
 'US278071838L',
 'WW*211354739',
 'GB00229770',
 'MXLCI9710149W6',
 'KY*B000021465',
 'US299602496L',
 'SG2-66599',
 'BR03012285000179',
 'US133471164L',
 'US128652968L',
 'AU121213803',
 'FR950564476',
 'IE512927',
 'AUPPLNOPRR70E29Z700E',
 'FR388114571',
 'IE498684',
 'AE*918488258',
 'FR435058706',
 'ZZ*4000000159961',
 'GBIM036639C',
 'GBLP019223',
 'SK*492203665',
 'SK36281026',
 'WW*1758752536',
 'US133276673L',
 'GB04378769',
 'WW*110176159383',
 'US304147037L',
 'US253633307L',
 'DE2151386878',
 'FR418564126',
 'WW*906085133',
 'AU623218431',
 'US350013287L',
 'RO7458731',
 'IE647440',
 'FR833656416',
 'FI24472299',
 'ZA200500230507',
 'GB14357559',
 'US247051913L',
 'ESA87444113',
 'MTSV499',
 'IE504921',
 'SE5560138298',
 'IE580132',
 'BG202774078',
 'IN0000644226',
 'US142833464L',
 'GB08344398',
 'ID*110189447139',
 'RO*554284068',
 'GB*110338515145',
 'CN9410048986',
 'FR399362631',
 'IE452248',
 'FR509195970',
 'IE605535',
 'ITPPSTNMRN65L08H657P',
 'DE6150422406',
 'US345267011L',
 'US241749911L',
 'US137435140L',
 'US220691807L',
 'IT07522871214',
 'US147993798L',
 'ITPPGHDFNC54P55B157N',
 'US203187060L',
 'IE513319',
 'HK0001906911',
 'ESA28749885',
 'IE466716',
 'YY*110331282696',
 'CA132642779L',
 'KYLEI1869435',
 'GB10085969',
 'US149113265L',
 'IT03509480921',
 'NL34108487',
 'US2-131614',
 ...]

In [7]:
len(di_cdbk.keys())

1169

## Creating separate dataframe with economic attributes

In [8]:
import copy
df_econ = copy.copy(df[['Comp_Name', 'Country', 'NACE', 'BvD', 'TURN', 'CF',
       'TASS', 'EC', 'EM']]).drop_duplicates(subset=['BvD'], keep='first').dropna()

df_econ['index'] = df_econ['BvD'].map(di_cdbk)
df_econ.set_index('index', inplace=True)
df_econ.head()

C:\Users\laptop\anaconda3\lib\site-packages\pandas\core\indexes\base.py:6999: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  return Index(sequences[0], name=names)

,Comp_Name,Country,NACE,BvD,TURN,CF,TASS,EC,EM
index,,,,,,,,,
NaN,AIRBUS SE,NL,3030.0,NL24288945,59 736 738,7 471 764,121 241 465,10 743 847,126 495
NaN,AIRBUS,FR,3030.0,FR383474814,46 503 021,1 450 146,67 241 069,11 035 552,8 944
NaN,BAE SYSTEMS PLC,GB,3030.0,GB01470151,26 837 099,3 328 945,36 453 156,10 301 190,82 000
NaN,SAFRAN,FR,3030.0,FR562082909,18 434 203,1 792 906,47 247 554,15 029 606,77 008
NaN,LEONARDO S.P.A.,IT,3030.0,IT00401990585,16 651 490,1 258 319,32 142 064,7 310 935,50 413

In [9]:
df_econ.replace('n.a.', np.nan, inplace=True)

In [10]:
# MISSING DATA in %
df_econ.isna().sum()/len(df_econ)*100

Comp_Name     0.000000
Country       0.000000
NACE          0.000000
BvD           0.000000
TURN         17.108640
CF           27.373824
TASS          5.645851
EC            5.560308
EM           33.190761
dtype: float64

In [11]:
len(df_econ)

1169

In [12]:
# Treats the NA in column with company name and BvD-code in the main dataframe
df['Comp_Name'].fillna(method='ffill', inplace=True)
df['BvD'].fillna(method='ffill', inplace=True)

## Creating separate dataframes for links with shareholders and subsidiaries

In [13]:
import copy
df_sub = copy.copy(df[['Comp_Name', 'BvD','Sub_BvD', 'Sub_%']].dropna(subset='Sub_BvD')).drop('Comp_Name', axis=1)
df_sha = copy.copy(df[['Comp_Name', 'BvD','Sha_BvD', 'Sha_%',]].dropna(subset='Sha_BvD')).drop('Comp_Name', axis=1)

### Subsidiaries Dataframe

In [14]:
df_sub.head()

          BvD     Sub_BvD Sub_%
0  NL24288945   LULB51757   100
1  NL24288945  DEFEB14827   100
2  NL24288945  GB02449259   100
3  NL24288945  NL28086907   100
4  NL24288945  NL63545128   100

#### Checking for non-numeric values

In [15]:
df_sub[(df_sub['Sub_%'].str.isalpha())]['Sub_%'].value_counts()

WO    54
MO    13
NG     9
VE     3
Name: Sub_%, dtype: int64

#### Changing strings into numeric values

In [16]:
# Converting entire cells
df_sub['Sub_%'].replace({
    'WO': 100,
    'MO': 51,
    'NG': 0.01,
    'VE': 0.01,
    '-': 0
}, 
                        inplace=True)

# Removing special signs from values
import regex
df_sub['Sub_%'] = df_sub['Sub_%'].replace('[<>]+','',regex=True).astype(float)

In [17]:
# Renames columns
df_sub.insert(1, 'source', df_sub['BvD'].map(di_cdbk))
df_sub.insert(2, 'target', df_sub['Sub_BvD'].map(di_cdbk))
df_sub.rename(columns={'Sub_%': 'weight'}, inplace=True)
df_sub.drop(['BvD', 'Sub_BvD'], axis=1, inplace=True)

# Keeps only present links (Drops Nans and weight 0)
df_sub.dropna(inplace=True)

df_sub = df_sub[df_sub['weight'] > 0]
df_sub.head()

Empty DataFrame
Columns: [source, target, weight]
Index: []

In [18]:
# Extracting EASIN only links
newDict = { key:value for (key,value) in di_cdbk.items() if str(value).startswith('Targi')}

df_sub_EASIN = df_sub[df_sub['target'].isin(newDict.values())]

In [19]:
df_sub_EASIN.head()

Empty DataFrame
Columns: [source, target, weight]
Index: []

### Shareholders Dataframe

#### Checking for non-numeric values

In [20]:
df_sha[(df_sha['Sha_%'].str.isalpha())]['Sha_%'].value_counts()

WO     34
NG     33
MO     10
FC      9
GP      9
BR      3
T       3
FME     1
Name: Sha_%, dtype: int64

In [21]:
# Converting entire cells
df_sha['Sha_%'].replace({
    'WO': 100,
    'MO': 51,
    'NG': 0.01,
    'VE': 0.01,
    'FC': 0.01,
    'GP': 50,
    'BR': 0.01,
    'T': 0.01,
    'FME': 0.01,
    '-': 0
}, 
                        inplace=True)

# 'WO': Whole ownership,
# 'MO': Major ownership,
# 'NG': Negligable,
# 'VE': ? (Venture Equity?),
# 'FC': ?,
# 'GP': General partnership,
# 'BR': Business Relief,
# 'T': ?,
# 'FME': ?

In [22]:
# Removing special signs from values
import regex
df_sha['Sha_%'] = df_sha['Sha_%'].replace('[<>]+','',regex=True).astype(float)

In [23]:
# Renames columns
df_sha.insert(1, 'source', df_sha['Sha_BvD'].map(di_cdbk))
df_sha.insert(2, 'target', df_sha['BvD'].map(di_cdbk))
df_sha.rename(columns={'Sha_%': 'weight'}, inplace=True)
df_sha.drop(['BvD', 'Sha_BvD'], axis=1, inplace=True)

# Keeps only present links (Drops Nans and weight 0)
df_sha.dropna(inplace=True)

df_sha = df_sha[df_sha['weight'] > 0]
df_sha.head()

Empty DataFrame
Columns: [source, target, weight]
Index: []

In [24]:
# Extracting EASIN only links
newDict = { key:value for (key,value) in di_cdbk.items() if str(value).startswith('Targi')}

df_sha_EASIN = df_sha[df_sha['source'].isin(newDict.values())]

In [25]:
df_sha_EASIN.head()

Empty DataFrame
Columns: [source, target, weight]
Index: []

### All links joined

#### EASIN links

In [26]:
df_EASIN = pd.concat([df_sha_EASIN, df_sub_EASIN]).drop_duplicates(subset=['source','target'])

In [27]:
df_EASIN.head()

Empty DataFrame
Columns: [source, target, weight]
Index: []

In [28]:
print(f"Sha links: {len(df_sha_EASIN)}")
print(f"Sub links: {len(df_sub_EASIN)}")
print(f"All links: {len(df_EASIN)}")

Sha links: 0
Sub links: 0
All links: 0

##### EASIN links transformed into EC

In [29]:
# def share_into_EC():

IndentationError: expected an indented block (1709571583.py, line 1)

#### EASIN + NEIGH links

In [ ]:
df_EandN = pd.concat([df_sha, df_sub]).drop_duplicates(subset=['source','target'])

In [ ]:
df_EandN.head()

In [ ]:
print(f"Sha links: {len(df_sha)}")
print(f"Sub links: {len(df_sub)}")
print(f"All links: {len(df_EandN)}")